<footer class="footer">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-8 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Giới Thiệu về Hệ Thống</h5>
                <p>
                    Hệ thống tư vấn da liễu trực tuyến với chatbot thông minh, giúp người dùng
                    nhận được tư vấn nhanh chóng về các vấn đề da liễu thường gặp.
                </p>
                <span>&reg; Trần Thế Anh - Nguyễn Văn Bảo - Võ Duy Khang</span>
            </div>
            <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                <ul class="fa-ul" style="margin-left: 1.65em;">
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-home"></i></span>
                        <span>371 NGUYỄN KIỆM, PHƯỜNG 3, QUẬN GÒ VẤP, TP. HCM</span>
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-envelope"></i></span>
                        <span>supporthealth4444@gmail.com</span>
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-phone"></i></span>
                        <span>0933033801</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>