<div class="sidebar">
    <div class="sidebar-content">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a href="/home" class="nav-link align-middle {{ 'active' if request.path == '/home' }}">
                    <i class="fas fa-home"></i>
                    <span>Trang chủ</span>
                </a>
            </li>

            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a href="/chatbot" class="nav-link align-middle {{ 'active' if request.path == '/chatbot' }}">
                        <i class="fas fa-robot"></i>
                        <span>Chatbot Tư Vấn</span>
                    </a>
                </li>



                <li class="nav-item">
                    <a href="/history" class="nav-link align-middle {{ 'active' if request.path == '/history' }}">
                        <i class="fas fa-history"></i>
                        <span>Lịch sử tư vấn</span>
                    </a>
                </li>

                {% if current_user.role.name == 'doctor' %}
                <li class="nav-item">
                    <a href="/patients" class="nav-link align-middle {{ 'active' if request.path == '/patients' }}">
                        <i class="fas fa-user-injured"></i>
                        <span>Quản lý bệnh nhân</span>
                    </a>
                </li>
                {% endif %}
            {% endif %}

            <li class="nav-item">
                <a href="/about" class="nav-link align-middle {{ 'active' if request.path == '/about' }}">
                    <i class="fas fa-info-circle"></i>
                    <span>Giới thiệu</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/contact" class="nav-link align-middle {{ 'active' if request.path == '/contact' }}">
                    <i class="fas fa-phone"></i>
                    <span>Liên hệ</span>
                </a>
            </li>
        </ul>
    </div>
</div>